{% load static %}


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <span>DevMind</span>
                    </a>
                    <p>Մենք ստեղծում ենք լավագույն լուծումները՝ միավորելով հոգեբանական գնահատումը  և նեղ մասնագիտական հմտությունների թեստավորումը: Առցանց հարթակ է, որտեղ թեկնածուները կարող են ցուցադրել իրենց կարողությունները, իսկ գործատուները՝ գտնել իդեալական թիմ:</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Օգտակար հղումներ</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'tests' %}">Դեպի թեստեր</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Կապ</h4>
                    <p>
                        Հայաստան
                        Երևան <br><br>
                        <strong>հեռախոսահամար:</strong> +374 77 77 77 12<br>
                        <strong>էլ․ հասցե:</strong> onlinetest@mail.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
     
        </div>
        <div class="credits">
          
        </div>
    </div>
</footer><!-- End Footer -->