{% load static %}


<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="">
            <span>DevMind</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'tests' %}">Բոլոր թեստեր</a></li>
                <li class="dropdown"><a href="javascript:void(0)"><span>Կատեգորիա</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        {% for category in links %}
                        <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.id is None %}
                <li><a class="widget-header" href="{% url 'login' %}">Դուրս գալ</a></li>
                <li><a class="widget-header" href="{% url 'register' %}">Գրանցվել</a></li>
                {% else %}
                <li><a class="widget-header">Привет, {{user.first_name}}!</a></li>
                <li><a class="widget-header" href="{% url 'logout' %}">Դուրս Գալ</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->